In [2]:
#RFE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [3]:
train = pd.read_csv('Data/train.csv')

In [4]:
train.head()

,price,wheelbase,curbweight,enginesize,boreratio,horsepower,carlength,carwidth,gas,turbo,...,ohcv,rotor,five,four,six,three,twelve,two,Medium,Highend
0,18344,104.9,2700,134,3.43,72,175.0,66.1,False,False,...,False,False,False,True,False,False,False,False,True,False
1,15580,107.9,3075,120,3.46,95,186.7,68.4,True,False,...,False,False,False,True,False,False,False,False,True,False
2,6918,95.7,2280,92,3.05,62,169.7,63.6,True,False,...,False,False,False,True,False,False,False,False,False,False
3,7499,94.5,1971,97,3.15,69,165.3,63.8,True,False,...,False,False,False,True,False,False,False,False,True,False
4,9095,96.5,2289,110,3.15,86,167.5,65.2,True,False,...,False,False,False,True,False,False,False,False,False,False

In [5]:
columns = list(train.columns)
for column in columns[8:]:
    train[column] = train[column].astype(int)

In [6]:
y_train = train.pop('price')
X_train = train

In [7]:
print(X_train.shape)
print(y_train.shape)

(164, 29)
(164,)

In [10]:
lm = LinearRegression()

In [12]:
rfe = RFE(estimator=LinearRegression(), n_features_to_select=10)
rfe = rfe.fit(X_train,y_train)

In [13]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

[('wheelbase', False, 14),
 ('curbweight', False, 19),
 ('enginesize', False, 16),
 ('boreratio', True, 1),
 ('horsepower', False, 15),
 ('carlength', False, 18),
 ('carwidth', False, 7),
 ('gas', False, 10),
 ('turbo', True, 1),
 ('hardtop', False, 11),
 ('hatchback', True, 1),
 ('sedan', False, 3),
 ('wagon', False, 2),
 ('fwd', False, 9),
 ('rwd', False, 17),
 ('dohcv', True, 1),
 ('l', False, 8),
 ('ohc', False, 12),
 ('ohcf', False, 13),
 ('ohcv', False, 4),
 ('rotor', True, 1),
 ('five', True, 1),
 ('four', True, 1),
 ('six', True, 1),
 ('three', False, 20),
 ('twelve', False, 6),
 ('two', True, 1),
 ('Medium', False, 5),
 ('Highend', True, 1)]

In [16]:
#Selects the top 10 columns from the dataframe
X_train.columns[rfe.support_]

Index(['boreratio', 'turbo', 'hatchback', 'dohcv', 'rotor', 'five', 'four',
       'six', 'two', 'Highend'],
      dtype='object')

#### Building the models
Using statsmodels for detailed statistics

In [22]:
X_train_rfe = X_train[X_train.columns[rfe.support_]]

In [24]:
X_train_rfe.head()

   boreratio  turbo  hatchback  dohcv  rotor  five  four  six  two  Highend
0       3.43      0          0      0      0     0     1    0    0        0
1       3.46      0          0      0      0     0     1    0    0        0
2       3.05      0          0      0      0     0     1    0    0        0
3       3.15      0          0      0      0     0     1    0    0        0
4       3.15      0          1      0      0     0     1    0    0        0